/* Text Section
--------------------------------------------- */

.text,
.site-main {
	padding: $margin_4x 0;
	background-color: $white;

	.wrap {
		@include media(">=tablet") {
			max-width: map-get($breakpoints, "tablet");
		}
	}

	h1,
	.h1,
	h2,
	.h2,
	h3,
	.h3,
	h4,
	.h4,
	h5,
	.h5,
	h6,
	.h6 {
		text-align: center;
		text-transform: uppercase;
	}
}
