/* Slick Line
--------------------------------------------- */

.slick-line-footer {
	padding: ($base-margin / 2) 0;
	background-color: brand-color("light-green");
	text-align: center;
	// position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	display: none;
	z-index: 10;

	@include media(">=small") {
		display: block;
	}
}
